{
  "connection": {
    "channel": "#happyman",
    "host": "localhost",
    "nick": "happyman"
  },
  "plugins": {
    "Hug": {},
    "NickReply": {},
    "PeekURI": {},
    "Cobe": {},
    "SocketAnnouncer": {}
  }
}